.choice-container {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    font-size: 18px;
    border: 10px solid #56a5eb;
}

.choice-container:hover {
    background-color: #56a5eb;
    color: aliceblue;
}

.choice-prefix {
    padding: 15px 25px;
    background-color: #56a5eb;
    color: aliceblue;
}

.choice-text {
    padding: 15px;
}